<% provide(:title, 'Group Create') %>
<h1>New Group</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@group) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <% @users.each do |user|  %>
      <%= f.label user.name %>
      <%= f.check_box :id,{ multiple: true},user.id,nil %>
      <% end %>
      <%= f.submit "Create New Group", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>