<h1>Groups#show</h1>
<%= link_to "設定", :action => "edit" %>
<ul>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Member <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
			<% @group.users.each do |user| %>
			<li><%= link_to user.name,user %></li>
			<% end %>
    </ul>
  </li>
</ul> 

<ul>

<% @contents.each do |content| %>
<li class="row">
<% if content.user==current_user %>
<section style="float: left;">
  <h1>
    <%= gravatar_for content.user %>
    <%= content.user.name %>
  </h1>
</section>
<div id="balloon-1-left">
<%= content.content %>
<div class="clear-fix"></div></li>
<%= form_for(content,
             html: { method: :delete }) do |f| %>
  <%= hidden_field_tag :group_id, @group.id %>
  <%= hidden_field_tag :user_id, content.user.id %>
  <%= f.submit "Delete", class: "btn" %>
<% end %>

<% else %>
<section style="float:right;">
  <h1>
    <%= gravatar_for content.user %>
    <%= content.user.name %>
  </h1>
</section>
<div id="balloon-1-right">
<%= content.content %>
</div>

<div class="clear-fix"></div></li>
  <% end %>
<% end %>

</ul>
<%= form_for(@group.group_contents.build, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= hidden_field_tag :group_id, @group.id %>

    <%= f.text_area :content, placeholder: "New Message" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>