<!DOCTYPE html>
<html>
  <head>
      <%=  stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%=  javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/default" %>

  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
