<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layout/default" %>
  </head>

  <body>
    <%= render "layout/header" %> %>
    <%= yield %>
    <%= render "layout/footer" %>
  </body>
</html>
